.bf-container {
    position: static;
}
.bf-controlbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    padding: 0 8px 6px 8px;
    font-weight: 300;
}
.bf-controlbar .control-item {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    height: 28px;
    color: #bfbcbc !important;
    font-weight: 400;
}

.bf-controlbar .control-item.button {
    font-size: 12px;
    min-width: 20px;
}

.bf-controlbar .control-item.button i:before {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
}

.avatar-uploader, .ant-upload {
    width: 60px !important;
    height: 60px !important;
    margin-bottom: 28px !important;
}

.component-wrapper .ant-upload {
    width: 0 !important;
    height: 0 !important;
}